<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/speakers">Speakers</a></li>
	    		</ul>
			</nav>
			
			<div class="blurb">
				<h1>Diversify NetSci</h1>
				<h2>July 6-10 | Università la Sapienza di Roma | Rome, Italy </h2>
			</div><!-- /.blurb -->

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:diversifynetsci@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
  
